@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-primary: #d72631;
  --color-secondary: #a2d5c6;
  --color-accent: #077b8a;
  --color-dark: #5c3929;
  --color-light: #f8f8f8;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-mode {
  --color-bg: #18191a;
  --color-text: #f8f8f8;
  --color-primary: #d72631;
  --color-secondary: #077b8a;
  --color-accent: #a2d5c6;
  --color-dark: #f8f8f8;
}
